# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class AccountingUnpostedProcurementTaxableLevelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get List of UnpostedProcurementTaxableLevel
    # @param parent_id [Integer] unpostedprocurementId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<UnpostedProcurementTaxableLevel>]
    def get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_with_http_info(
        parent_id, client_id, opts
      )
      data
    end

    # Get List of UnpostedProcurementTaxableLevel
    # @param parent_id [Integer] unpostedprocurementId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<UnpostedProcurementTaxableLevel>, Integer, Hash)>] Array<UnpostedProcurementTaxableLevel> data, response status code and response headers
    def get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_with_http_info(parent_id, client_id,
                                                                                              opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels"
      end

      # resource path
      local_var_path = '/finance/accounting/unpostedprocurement/{parentId}/taxableLevels'.sub('{' + 'parentId' + '}',
                                                                                              CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UnpostedProcurementTaxableLevel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingUnpostedProcurementTaxableLevelsApi#get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get UnpostedProcurementTaxableLevel
    # @param id [Integer] taxableLevelId
    # @param parent_id [Integer] unpostedprocurementId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [UnpostedProcurementTaxableLevel]
    def get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id(id, parent_id, client_id,
                                                                                     opts = {})
      data, _status_code, _headers = get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id_with_http_info(
        id, parent_id, client_id, opts
      )
      data
    end

    # Get UnpostedProcurementTaxableLevel
    # @param id [Integer] taxableLevelId
    # @param parent_id [Integer] unpostedprocurementId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(UnpostedProcurementTaxableLevel, Integer, Hash)>] UnpostedProcurementTaxableLevel data, response status code and response headers
    def get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id_with_http_info(id, parent_id,
                                                                                                    client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        raise ArgumentError,
              "Missing the required parameter 'id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id"
      end

      # resource path
      local_var_path = '/finance/accounting/unpostedprocurement/{parentId}/taxableLevels/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpostedProcurementTaxableLevel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingUnpostedProcurementTaxableLevelsApi#get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get Count of UnpostedProcurementTaxableLevel
    # @param parent_id [Integer] unpostedprocurementId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count_with_http_info(
        parent_id, client_id, opts
      )
      data
    end

    # Get Count of UnpostedProcurementTaxableLevel
    # @param parent_id [Integer] unpostedprocurementId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count_with_http_info(parent_id,
                                                                                                    client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count"
      end

      # resource path
      local_var_path = '/finance/accounting/unpostedprocurement/{parentId}/taxableLevels/count'.sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AccountingUnpostedProcurementTaxableLevelsApi.get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingUnpostedProcurementTaxableLevelsApi#get_finance_accounting_unpostedprocurement_by_parent_id_taxable_levels_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
