# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class AgreementTypeWorkRolesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_finance_agreement_types_by_parent_id_workroles_by_id(id, parent_id, client_id, opts = {})
      delete_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id, parent_id, client_id, opts)
      nil
    end

    # Delete AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id, parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.delete_finance_agreement_types_by_parent_id_workroles_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        raise ArgumentError,
              "Missing the required parameter 'id' when calling AgreementTypeWorkRolesApi.delete_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.delete_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.delete_finance_agreement_types_by_parent_id_workroles_by_id"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.delete_finance_agreement_types_by_parent_id_workroles_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#delete_finance_agreement_types_by_parent_id_workroles_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get List of AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<AgreementTypeWorkRole>]
    def get_finance_agreement_types_by_parent_id_workroles(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_agreement_types_by_parent_id_workroles_with_http_info(parent_id,
                                                                                                       client_id, opts)
      data
    end

    # Get List of AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<AgreementTypeWorkRole>, Integer, Hash)>] Array<AgreementTypeWorkRole> data, response status code and response headers
    def get_finance_agreement_types_by_parent_id_workroles_with_http_info(parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles'.sub('{' + 'parentId' + '}',
                                                                          CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AgreementTypeWorkRole>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#get_finance_agreement_types_by_parent_id_workroles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [AgreementTypeWorkRole]
    def get_finance_agreement_types_by_parent_id_workroles_by_id(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id,
                                                                                                             parent_id, client_id, opts)
      data
    end

    # Get AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(AgreementTypeWorkRole, Integer, Hash)>] AgreementTypeWorkRole data, response status code and response headers
    def get_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id, parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        raise ArgumentError,
              "Missing the required parameter 'id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_by_id"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementTypeWorkRole'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#get_finance_agreement_types_by_parent_id_workroles_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get Count of AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_finance_agreement_types_by_parent_id_workroles_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_agreement_types_by_parent_id_workroles_count_with_http_info(parent_id,
                                                                                                             client_id, opts)
      data
    end

    # Get Count of AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_finance_agreement_types_by_parent_id_workroles_count_with_http_info(parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_count ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_count"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_count"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/count'.sub('{' + 'parentId' + '}',
                                                                                CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#get_finance_agreement_types_by_parent_id_workroles_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get List of AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<AgreementTypeWorkRoleInfo>]
    def get_finance_agreement_types_by_parent_id_workroles_info(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_agreement_types_by_parent_id_workroles_info_with_http_info(parent_id,
                                                                                                            client_id, opts)
      data
    end

    # Get List of AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<AgreementTypeWorkRoleInfo>, Integer, Hash)>] Array<AgreementTypeWorkRoleInfo> data, response status code and response headers
    def get_finance_agreement_types_by_parent_id_workroles_info_with_http_info(parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/info'.sub('{' + 'parentId' + '}',
                                                                               CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AgreementTypeWorkRoleInfo>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#get_finance_agreement_types_by_parent_id_workroles_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get AgreementTypeWorkRoleInfo
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [AgreementTypeWorkRoleInfo]
    def get_finance_agreement_types_by_parent_id_workroles_info_by_id(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_agreement_types_by_parent_id_workroles_info_by_id_with_http_info(id,
                                                                                                                  parent_id, client_id, opts)
      data
    end

    # Get AgreementTypeWorkRoleInfo
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(AgreementTypeWorkRoleInfo, Integer, Hash)>] AgreementTypeWorkRoleInfo data, response status code and response headers
    def get_finance_agreement_types_by_parent_id_workroles_info_by_id_with_http_info(id, parent_id, client_id,
                                                                                     opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        raise ArgumentError,
              "Missing the required parameter 'id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_by_id"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/info/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementTypeWorkRoleInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#get_finance_agreement_types_by_parent_id_workroles_info_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get Count of AgreementTypeWorkRoleInfo
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_finance_agreement_types_by_parent_id_workroles_info_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_agreement_types_by_parent_id_workroles_info_count_with_http_info(
        parent_id, client_id, opts
      )
      data
    end

    # Get Count of AgreementTypeWorkRoleInfo
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_finance_agreement_types_by_parent_id_workroles_info_count_with_http_info(parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_count ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_count"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_count"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/info/count'.sub('{' + 'parentId' + '}',
                                                                                     CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.get_finance_agreement_types_by_parent_id_workroles_info_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#get_finance_agreement_types_by_parent_id_workroles_info_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Patch AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [AgreementTypeWorkRole]
    def patch_finance_agreement_types_by_parent_id_workroles_by_id(id, parent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id,
                                                                                                               parent_id, client_id, patch_operation, opts)
      data
    end

    # Patch AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgreementTypeWorkRole, Integer, Hash)>] AgreementTypeWorkRole data, response status code and response headers
    def patch_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id, parent_id, client_id,
                                                                                  patch_operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.patch_finance_agreement_types_by_parent_id_workroles_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        raise ArgumentError,
              "Missing the required parameter 'id' when calling AgreementTypeWorkRolesApi.patch_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.patch_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.patch_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'patch_operation' is set
      if @api_client.config.client_side_validation && patch_operation.nil?
        raise ArgumentError,
              "Missing the required parameter 'patch_operation' when calling AgreementTypeWorkRolesApi.patch_finance_agreement_types_by_parent_id_workroles_by_id"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementTypeWorkRole'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.patch_finance_agreement_types_by_parent_id_workroles_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#patch_finance_agreement_types_by_parent_id_workroles_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Post AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param agreement_type_work_role [AgreementTypeWorkRole] workRole
    # @param [Hash] opts the optional parameters
    # @return [AgreementTypeWorkRole]
    def post_finance_agreement_types_by_parent_id_workroles(parent_id, client_id, agreement_type_work_role, opts = {})
      data, _status_code, _headers = post_finance_agreement_types_by_parent_id_workroles_with_http_info(parent_id,
                                                                                                        client_id, agreement_type_work_role, opts)
      data
    end

    # Post AgreementTypeWorkRole
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param agreement_type_work_role [AgreementTypeWorkRole] workRole
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgreementTypeWorkRole, Integer, Hash)>] AgreementTypeWorkRole data, response status code and response headers
    def post_finance_agreement_types_by_parent_id_workroles_with_http_info(parent_id, client_id,
                                                                           agreement_type_work_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.post_finance_agreement_types_by_parent_id_workroles ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.post_finance_agreement_types_by_parent_id_workroles"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.post_finance_agreement_types_by_parent_id_workroles"
      end
      # verify the required parameter 'agreement_type_work_role' is set
      if @api_client.config.client_side_validation && agreement_type_work_role.nil?
        raise ArgumentError,
              "Missing the required parameter 'agreement_type_work_role' when calling AgreementTypeWorkRolesApi.post_finance_agreement_types_by_parent_id_workroles"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles'.sub('{' + 'parentId' + '}',
                                                                          CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agreement_type_work_role)

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementTypeWorkRole'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.post_finance_agreement_types_by_parent_id_workroles',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#post_finance_agreement_types_by_parent_id_workroles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Put AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param agreement_type_work_role [AgreementTypeWorkRole] workRole
    # @param [Hash] opts the optional parameters
    # @return [AgreementTypeWorkRole]
    def put_finance_agreement_types_by_parent_id_workroles_by_id(id, parent_id, client_id, agreement_type_work_role,
                                                                 opts = {})
      data, _status_code, _headers = put_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id,
                                                                                                             parent_id, client_id, agreement_type_work_role, opts)
      data
    end

    # Put AgreementTypeWorkRole
    # @param id [Integer] workroleId
    # @param parent_id [Integer] agreementTypeId
    # @param client_id [String]
    # @param agreement_type_work_role [AgreementTypeWorkRole] workRole
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgreementTypeWorkRole, Integer, Hash)>] AgreementTypeWorkRole data, response status code and response headers
    def put_finance_agreement_types_by_parent_id_workroles_by_id_with_http_info(id, parent_id, client_id,
                                                                                agreement_type_work_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgreementTypeWorkRolesApi.put_finance_agreement_types_by_parent_id_workroles_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        raise ArgumentError,
              "Missing the required parameter 'id' when calling AgreementTypeWorkRolesApi.put_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'parent_id' when calling AgreementTypeWorkRolesApi.put_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'client_id' when calling AgreementTypeWorkRolesApi.put_finance_agreement_types_by_parent_id_workroles_by_id"
      end
      # verify the required parameter 'agreement_type_work_role' is set
      if @api_client.config.client_side_validation && agreement_type_work_role.nil?
        raise ArgumentError,
              "Missing the required parameter 'agreement_type_work_role' when calling AgreementTypeWorkRolesApi.put_finance_agreement_types_by_parent_id_workroles_by_id"
      end

      # resource path
      local_var_path = '/finance/agreementTypes/{parentId}/workroles/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub(
        '{' + 'parentId' + '}', CGI.escape(parent_id.to_s)
      )

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      unless header_params['Accept']
        header_params['Accept'] =
          @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1'])
      end
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agreement_type_work_role)

      # return_type
      return_type = opts[:debug_return_type] || 'AgreementTypeWorkRole'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'AgreementTypeWorkRolesApi.put_finance_agreement_types_by_parent_id_workroles_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgreementTypeWorkRolesApi#put_finance_agreement_types_by_parent_id_workroles_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
