=begin
#Connectwise Manage All Endpoints

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2022.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module ConnectWise
  class CampaignEmailsOpenedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_marketing_campaigns_by_parent_id_emails_opened_by_id(id, parent_id, client_id, opts = {})
      delete_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, opts)
      nil
    end

    # Delete EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.delete_marketing_campaigns_by_parent_id_emails_opened_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignEmailsOpenedApi.delete_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.delete_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.delete_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.delete_marketing_campaigns_by_parent_id_emails_opened_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#delete_marketing_campaigns_by_parent_id_emails_opened_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get List of EmailOpened
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<EmailOpened>]
    def get_marketing_campaigns_by_parent_id_emails_opened(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_marketing_campaigns_by_parent_id_emails_opened_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get List of EmailOpened
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(Array<EmailOpened>, Integer, Hash)>] Array<EmailOpened> data, response status code and response headers
    def get_marketing_campaigns_by_parent_id_emails_opened_with_http_info(parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EmailOpened>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#get_marketing_campaigns_by_parent_id_emails_opened\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [EmailOpened]
    def get_marketing_campaigns_by_parent_id_emails_opened_by_id(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, opts)
      data
    end

    # Get EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(EmailOpened, Integer, Hash)>] EmailOpened data, response status code and response headers
    def get_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailOpened'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#get_marketing_campaigns_by_parent_id_emails_opened_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Count of EmailOpened
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Count]
    def get_marketing_campaigns_by_parent_id_emails_opened_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_marketing_campaigns_by_parent_id_emails_opened_count_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get Count of EmailOpened
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_marketing_campaigns_by_parent_id_emails_opened_count_with_http_info(parent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_count ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_count"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_count"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.get_marketing_campaigns_by_parent_id_emails_opened_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#get_marketing_campaigns_by_parent_id_emails_opened_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [EmailOpened]
    def patch_marketing_campaigns_by_parent_id_emails_opened_by_id(id, parent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, patch_operation, opts)
      data
    end

    # Patch EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailOpened, Integer, Hash)>] EmailOpened data, response status code and response headers
    def patch_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, patch_operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.patch_marketing_campaigns_by_parent_id_emails_opened_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignEmailsOpenedApi.patch_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.patch_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.patch_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'patch_operation' is set
      if @api_client.config.client_side_validation && patch_operation.nil?
        fail ArgumentError, "Missing the required parameter 'patch_operation' when calling CampaignEmailsOpenedApi.patch_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailOpened'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.patch_marketing_campaigns_by_parent_id_emails_opened_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#patch_marketing_campaigns_by_parent_id_emails_opened_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post EmailOpened
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param email_opened [EmailOpened] emailOpened
    # @param [Hash] opts the optional parameters
    # @return [EmailOpened]
    def post_marketing_campaigns_by_parent_id_emails_opened(parent_id, client_id, email_opened, opts = {})
      data, _status_code, _headers = post_marketing_campaigns_by_parent_id_emails_opened_with_http_info(parent_id, client_id, email_opened, opts)
      data
    end

    # Post EmailOpened
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param email_opened [EmailOpened] emailOpened
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailOpened, Integer, Hash)>] EmailOpened data, response status code and response headers
    def post_marketing_campaigns_by_parent_id_emails_opened_with_http_info(parent_id, client_id, email_opened, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.post_marketing_campaigns_by_parent_id_emails_opened ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.post_marketing_campaigns_by_parent_id_emails_opened"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.post_marketing_campaigns_by_parent_id_emails_opened"
      end
      # verify the required parameter 'email_opened' is set
      if @api_client.config.client_side_validation && email_opened.nil?
        fail ArgumentError, "Missing the required parameter 'email_opened' when calling CampaignEmailsOpenedApi.post_marketing_campaigns_by_parent_id_emails_opened"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_opened)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailOpened'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.post_marketing_campaigns_by_parent_id_emails_opened",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#post_marketing_campaigns_by_parent_id_emails_opened\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Put EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param email_opened [EmailOpened] emailOpened
    # @param [Hash] opts the optional parameters
    # @return [EmailOpened]
    def put_marketing_campaigns_by_parent_id_emails_opened_by_id(id, parent_id, client_id, email_opened, opts = {})
      data, _status_code, _headers = put_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, email_opened, opts)
      data
    end

    # Put EmailOpened
    # @param id [Integer] emailsOpenedId
    # @param parent_id [Integer] campaignId
    # @param client_id [String] 
    # @param email_opened [EmailOpened] emailOpened
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailOpened, Integer, Hash)>] EmailOpened data, response status code and response headers
    def put_marketing_campaigns_by_parent_id_emails_opened_by_id_with_http_info(id, parent_id, client_id, email_opened, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignEmailsOpenedApi.put_marketing_campaigns_by_parent_id_emails_opened_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CampaignEmailsOpenedApi.put_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling CampaignEmailsOpenedApi.put_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CampaignEmailsOpenedApi.put_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # verify the required parameter 'email_opened' is set
      if @api_client.config.client_side_validation && email_opened.nil?
        fail ArgumentError, "Missing the required parameter 'email_opened' when calling CampaignEmailsOpenedApi.put_marketing_campaigns_by_parent_id_emails_opened_by_id"
      end
      # resource path
      local_var_path = '/marketing/campaigns/{parentId}/emailsOpened/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_opened)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailOpened'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CampaignEmailsOpenedApi.put_marketing_campaigns_by_parent_id_emails_opened_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignEmailsOpenedApi#put_marketing_campaigns_by_parent_id_emails_opened_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
