# #Connectwise Manage All Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2022.1
#
# Generated by: https://openapi-generator.tech
# OpenAPI Generator version: 6.2.1
#

require 'cgi'

module ConnectWise
  class ConfigurationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete BulkResult
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [BulkResult]
    def delete_company_configurations_bulk(client_id, opts = {})
      data, _status_code, _headers = delete_company_configurations_bulk_with_http_info(client_id, opts)
      data
    end

    # Delete BulkResult
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkResult, Integer, Hash)>] BulkResult data, response status code and response headers
    def delete_company_configurations_bulk_with_http_info(client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.delete_company_configurations_bulk ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.delete_company_configurations_bulk" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.delete_company_configurations_bulk',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#delete_company_configurations_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Delete Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_company_configurations_by_id(id, client_id, opts = {})
      delete_company_configurations_by_id_with_http_info(id, client_id, opts)
      nil
    end

    # Delete Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_company_configurations_by_id_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.delete_company_configurations_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationsApi.delete_company_configurations_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.delete_company_configurations_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.delete_company_configurations_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#delete_company_configurations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of Configuration
    # @param client_id [String]
    # @param managed_identifier [String] managedIdentifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<CompanyConfiguration>]
    def get_company_configurations(client_id, managed_identifier, opts = {})
      data, _status_code, _headers = get_company_configurations_with_http_info(client_id, managed_identifier, opts)
      data
    end

    # Get List of Configuration
    # @param client_id [String]
    # @param managed_identifier [String] managedIdentifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<CompanyConfiguration>, Integer, Hash)>] Array<CompanyConfiguration> data, response status code and response headers
    def get_company_configurations_with_http_info(client_id, managed_identifier, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.get_company_configurations ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.get_company_configurations" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'managed_identifier' is set
      raise ArgumentError, "Missing the required parameter 'managed_identifier' when calling ConfigurationsApi.get_company_configurations" if @api_client.config.client_side_validation && managed_identifier.nil?

      # resource path
      local_var_path = '/company/configurations'.sub('{' + 'managedIdentifier' + '}', CGI.escape(managed_identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CompanyConfiguration>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.get_company_configurations',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#get_company_configurations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [CompanyConfiguration]
    def get_company_configurations_by_id(id, client_id, opts = {})
      data, _status_code, _headers = get_company_configurations_by_id_with_http_info(id, client_id, opts)
      data
    end

    # Get Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def get_company_configurations_by_id_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.get_company_configurations_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationsApi.get_company_configurations_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.get_company_configurations_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.get_company_configurations_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#get_company_configurations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of Configuration
    # @param client_id [String]
    # @param managed_identifier [String] managedIdentifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_company_configurations_count(client_id, managed_identifier, opts = {})
      data, _status_code, _headers = get_company_configurations_count_with_http_info(client_id, managed_identifier, opts)
      data
    end

    # Get Count of Configuration
    # @param client_id [String]
    # @param managed_identifier [String] managedIdentifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_company_configurations_count_with_http_info(client_id, managed_identifier, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.get_company_configurations_count ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.get_company_configurations_count" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'managed_identifier' is set
      raise ArgumentError, "Missing the required parameter 'managed_identifier' when calling ConfigurationsApi.get_company_configurations_count" if @api_client.config.client_side_validation && managed_identifier.nil?

      # resource path
      local_var_path = '/company/configurations/count'.sub('{' + 'managedIdentifier' + '}', CGI.escape(managed_identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.get_company_configurations_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#get_company_configurations_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @option opts [ManagedInformation] :managed_information managedInformation
    # @return [CompanyConfiguration]
    def patch_company_configurations_by_id(id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_company_configurations_by_id_with_http_info(id, client_id, patch_operation, opts)
      data
    end

    # Patch Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @option opts [ManagedInformation] :managed_information managedInformation
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def patch_company_configurations_by_id_with_http_info(id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.patch_company_configurations_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationsApi.patch_company_configurations_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.patch_company_configurations_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling ConfigurationsApi.patch_company_configurations_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/company/configurations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:managedInformation] = opts[:managed_information] unless opts[:managed_information].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.patch_company_configurations_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#patch_company_configurations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [CompanyConfiguration]
    def patch_company_configurations_by_id_change_type(id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_company_configurations_by_id_change_type_with_http_info(id, client_id, patch_operation, opts)
      data
    end

    # Patch Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def patch_company_configurations_by_id_change_type_with_http_info(id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.patch_company_configurations_by_id_change_type ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationsApi.patch_company_configurations_by_id_change_type" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.patch_company_configurations_by_id_change_type" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling ConfigurationsApi.patch_company_configurations_by_id_change_type" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/company/configurations/{id}/changeType'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.patch_company_configurations_by_id_change_type',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#patch_company_configurations_by_id_change_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post Configuration
    # @param client_id [String]
    # @param company_configuration [CompanyConfiguration] configuration
    # @param [Hash] opts the optional parameters
    # @option opts [ManagedInformation] :managed_information managedInformation
    # @return [CompanyConfiguration]
    def post_company_configurations(client_id, company_configuration, opts = {})
      data, _status_code, _headers = post_company_configurations_with_http_info(client_id, company_configuration, opts)
      data
    end

    # Post Configuration
    # @param client_id [String]
    # @param company_configuration [CompanyConfiguration] configuration
    # @param [Hash] opts the optional parameters
    # @option opts [ManagedInformation] :managed_information managedInformation
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def post_company_configurations_with_http_info(client_id, company_configuration, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.post_company_configurations ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.post_company_configurations" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'company_configuration' is set
      raise ArgumentError, "Missing the required parameter 'company_configuration' when calling ConfigurationsApi.post_company_configurations" if @api_client.config.client_side_validation && company_configuration.nil?

      # resource path
      local_var_path = '/company/configurations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:managedInformation] = opts[:managed_information] unless opts[:managed_information].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(company_configuration)

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.post_company_configurations',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#post_company_configurations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post Configuration
    # @param client_id [String]
    # @param company_configuration [Array<CompanyConfiguration>] List of Configuration
    # @param [Hash] opts the optional parameters
    # @return [CompanyConfiguration]
    def post_company_configurations_bulk(client_id, company_configuration, opts = {})
      data, _status_code, _headers = post_company_configurations_bulk_with_http_info(client_id, company_configuration, opts)
      data
    end

    # Post Configuration
    # @param client_id [String]
    # @param company_configuration [Array<CompanyConfiguration>] List of Configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def post_company_configurations_bulk_with_http_info(client_id, company_configuration, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.post_company_configurations_bulk ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.post_company_configurations_bulk" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'company_configuration' is set
      raise ArgumentError, "Missing the required parameter 'company_configuration' when calling ConfigurationsApi.post_company_configurations_bulk" if @api_client.config.client_side_validation && company_configuration.nil?

      # resource path
      local_var_path = '/company/configurations/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(company_configuration)

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.post_company_configurations_bulk',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#post_company_configurations_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put Configuration
    # @param client_id [String]
    # @param company_configuration [Array<CompanyConfiguration>] List of Configuration
    # @param [Hash] opts the optional parameters
    # @return [CompanyConfiguration]
    def put_company_configurations_bulk(client_id, company_configuration, opts = {})
      data, _status_code, _headers = put_company_configurations_bulk_with_http_info(client_id, company_configuration, opts)
      data
    end

    # Put Configuration
    # @param client_id [String]
    # @param company_configuration [Array<CompanyConfiguration>] List of Configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def put_company_configurations_bulk_with_http_info(client_id, company_configuration, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.put_company_configurations_bulk ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.put_company_configurations_bulk" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'company_configuration' is set
      raise ArgumentError, "Missing the required parameter 'company_configuration' when calling ConfigurationsApi.put_company_configurations_bulk" if @api_client.config.client_side_validation && company_configuration.nil?

      # resource path
      local_var_path = '/company/configurations/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(company_configuration)

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.put_company_configurations_bulk',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#put_company_configurations_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param company_configuration [CompanyConfiguration] configuration
    # @param [Hash] opts the optional parameters
    # @option opts [ManagedInformation] :managed_information managedInformation
    # @return [CompanyConfiguration]
    def put_company_configurations_by_id(id, client_id, company_configuration, opts = {})
      data, _status_code, _headers = put_company_configurations_by_id_with_http_info(id, client_id, company_configuration, opts)
      data
    end

    # Put Configuration
    # @param id [Integer] configurationId
    # @param client_id [String]
    # @param company_configuration [CompanyConfiguration] configuration
    # @param [Hash] opts the optional parameters
    # @option opts [ManagedInformation] :managed_information managedInformation
    # @return [Array<(CompanyConfiguration, Integer, Hash)>] CompanyConfiguration data, response status code and response headers
    def put_company_configurations_by_id_with_http_info(id, client_id, company_configuration, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationsApi.put_company_configurations_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationsApi.put_company_configurations_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationsApi.put_company_configurations_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'company_configuration' is set
      raise ArgumentError, "Missing the required parameter 'company_configuration' when calling ConfigurationsApi.put_company_configurations_by_id" if @api_client.config.client_side_validation && company_configuration.nil?

      # resource path
      local_var_path = '/company/configurations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:managedInformation] = opts[:managed_information] unless opts[:managed_information].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(company_configuration)

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationsApi.put_company_configurations_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationsApi#put_company_configurations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
