# #Connectwise Manage All Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2022.1
#
# Generated by: https://openapi-generator.tech
# OpenAPI Generator version: 6.2.1
#

require 'cgi'

module ConnectWise
  class ConfigurationTypeQuestionValuesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      nil
    end

    # Delete ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationTypeQuestionValuesApi.delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#delete_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of ConfigurationTypeQuestionValue
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<ConfigurationTypeQuestionValue>]
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get List of ConfigurationTypeQuestionValue
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<ConfigurationTypeQuestionValue>, Integer, Hash)>] Array<ConfigurationTypeQuestionValue> data, response status code and response headers
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ConfigurationTypeQuestionValue>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [ConfigurationTypeQuestionValue]
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(ConfigurationTypeQuestionValue, Integer, Hash)>] ConfigurationTypeQuestionValue data, response status code and response headers
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigurationTypeQuestionValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of Usage
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<Usage>]
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages(id, parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get List of Usage
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<Usage>, Integer, Hash)>] Array<Usage> data, response status code and response headers
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}/usages'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Usage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of Usage
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<Usage>]
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list(id, parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get List of Usage
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<Usage>, Integer, Hash)>] Array<Usage> data, response status code and response headers
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}/usages/list'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Usage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_usages_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of ConfigurationTypeQuestionValue
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get Count of ConfigurationTypeQuestionValue
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#get_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [ConfigurationTypeQuestionValue]
    def patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts)
      data
    end

    # Patch ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigurationTypeQuestionValue, Integer, Hash)>] ConfigurationTypeQuestionValue data, response status code and response headers
    def patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigurationTypeQuestionValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#patch_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post ConfigurationTypeQuestionValue
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param configuration_type_question_value [ConfigurationTypeQuestionValue] configurationTypeQuestionValue
    # @param [Hash] opts the optional parameters
    # @return [ConfigurationTypeQuestionValue]
    def post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values(parent_id, grandparent_id, client_id, configuration_type_question_value, opts = {})
      data, _status_code, _headers = post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_with_http_info(parent_id, grandparent_id, client_id, configuration_type_question_value, opts)
      data
    end

    # Post ConfigurationTypeQuestionValue
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param configuration_type_question_value [ConfigurationTypeQuestionValue] configurationTypeQuestionValue
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigurationTypeQuestionValue, Integer, Hash)>] ConfigurationTypeQuestionValue data, response status code and response headers
    def post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_with_http_info(parent_id, grandparent_id, client_id, configuration_type_question_value, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'configuration_type_question_value' is set
      raise ArgumentError, "Missing the required parameter 'configuration_type_question_value' when calling ConfigurationTypeQuestionValuesApi.post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values" if @api_client.config.client_side_validation && configuration_type_question_value.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configuration_type_question_value)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigurationTypeQuestionValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#post_company_configurations_types_by_grandparent_id_questions_by_parent_id_values\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param configuration_type_question_value [ConfigurationTypeQuestionValue] configurationTypeQuestionValue
    # @param [Hash] opts the optional parameters
    # @return [ConfigurationTypeQuestionValue]
    def put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id(id, parent_id, grandparent_id, client_id, configuration_type_question_value, opts = {})
      data, _status_code, _headers = put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, configuration_type_question_value, opts)
      data
    end

    # Put ConfigurationTypeQuestionValue
    # @param id [Integer] valueId
    # @param parent_id [Integer] questionId
    # @param grandparent_id [Integer] typeId
    # @param client_id [String]
    # @param configuration_type_question_value [ConfigurationTypeQuestionValue] configurationTypeQuestionValue
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigurationTypeQuestionValue, Integer, Hash)>] ConfigurationTypeQuestionValue data, response status code and response headers
    def put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id_with_http_info(id, parent_id, grandparent_id, client_id, configuration_type_question_value, opts = {})
      @api_client.config.logger.debug 'Calling API: ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'configuration_type_question_value' is set
      raise ArgumentError, "Missing the required parameter 'configuration_type_question_value' when calling ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id" if @api_client.config.client_side_validation && configuration_type_question_value.nil?

      # resource path
      local_var_path = '/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configuration_type_question_value)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigurationTypeQuestionValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ConfigurationTypeQuestionValuesApi.put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ConfigurationTypeQuestionValuesApi#put_company_configurations_types_by_grandparent_id_questions_by_parent_id_values_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
