# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class MarketplaceImportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get MarketplaceImport
    # @param id [Integer] getdefinitionId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [MarketplaceImport]
    def get_system_marketplaceimport_getdefinition_by_id(id, client_id, opts = {})
      data, _status_code, _headers = get_system_marketplaceimport_getdefinition_by_id_with_http_info(id, client_id, opts)
      data
    end

    # Get MarketplaceImport
    # @param id [Integer] getdefinitionId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(MarketplaceImport, Integer, Hash)>] MarketplaceImport data, response status code and response headers
    def get_system_marketplaceimport_getdefinition_by_id_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: MarketplaceImportsApi.get_system_marketplaceimport_getdefinition_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling MarketplaceImportsApi.get_system_marketplaceimport_getdefinition_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MarketplaceImportsApi.get_system_marketplaceimport_getdefinition_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/marketplaceimport/getdefinition/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceImport'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MarketplaceImportsApi.get_system_marketplaceimport_getdefinition_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MarketplaceImportsApi#get_system_marketplaceimport_getdefinition_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post MarketplaceImport
    # @param client_id [String]
    # @param marketplace_import [MarketplaceImport] marketplaceImport
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceImport]
    def post_system_marketplaceimport_import(client_id, marketplace_import, opts = {})
      data, _status_code, _headers = post_system_marketplaceimport_import_with_http_info(client_id, marketplace_import, opts)
      data
    end

    # Post MarketplaceImport
    # @param client_id [String]
    # @param marketplace_import [MarketplaceImport] marketplaceImport
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceImport, Integer, Hash)>] MarketplaceImport data, response status code and response headers
    def post_system_marketplaceimport_import_with_http_info(client_id, marketplace_import, opts = {})
      @api_client.config.logger.debug 'Calling API: MarketplaceImportsApi.post_system_marketplaceimport_import ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MarketplaceImportsApi.post_system_marketplaceimport_import" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'marketplace_import' is set
      raise ArgumentError, "Missing the required parameter 'marketplace_import' when calling MarketplaceImportsApi.post_system_marketplaceimport_import" if @api_client.config.client_side_validation && marketplace_import.nil?

      # resource path
      local_var_path = '/system/marketplaceimport/import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marketplace_import)

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceImport'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MarketplaceImportsApi.post_system_marketplaceimport_import',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MarketplaceImportsApi#post_system_marketplaceimport_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
