# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class MenuEntryLocationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete MenuEntryLocation
    # @param id [Integer] locationId
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_system_menu_entries_by_parent_id_locations_by_id(id, parent_id, client_id, opts = {})
      delete_system_menu_entries_by_parent_id_locations_by_id_with_http_info(id, parent_id, client_id, opts)
      nil
    end

    # Delete MenuEntryLocation
    # @param id [Integer] locationId
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_system_menu_entries_by_parent_id_locations_by_id_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: MenuEntryLocationsApi.delete_system_menu_entries_by_parent_id_locations_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling MenuEntryLocationsApi.delete_system_menu_entries_by_parent_id_locations_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling MenuEntryLocationsApi.delete_system_menu_entries_by_parent_id_locations_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MenuEntryLocationsApi.delete_system_menu_entries_by_parent_id_locations_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/menuEntries/{parentId}/locations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MenuEntryLocationsApi.delete_system_menu_entries_by_parent_id_locations_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MenuEntryLocationsApi#delete_system_menu_entries_by_parent_id_locations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of MenuEntryLocation
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<MenuEntryLocation>]
    def get_system_menu_entries_by_parent_id_locations(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_menu_entries_by_parent_id_locations_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get List of MenuEntryLocation
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<MenuEntryLocation>, Integer, Hash)>] Array<MenuEntryLocation> data, response status code and response headers
    def get_system_menu_entries_by_parent_id_locations_with_http_info(parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/menuEntries/{parentId}/locations'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MenuEntryLocation>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MenuEntryLocationsApi#get_system_menu_entries_by_parent_id_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get MenuEntryLocation
    # @param id [Integer] locationId
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [MenuEntryLocation]
    def get_system_menu_entries_by_parent_id_locations_by_id(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_menu_entries_by_parent_id_locations_by_id_with_http_info(id, parent_id, client_id, opts)
      data
    end

    # Get MenuEntryLocation
    # @param id [Integer] locationId
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(MenuEntryLocation, Integer, Hash)>] MenuEntryLocation data, response status code and response headers
    def get_system_menu_entries_by_parent_id_locations_by_id_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/menuEntries/{parentId}/locations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuEntryLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MenuEntryLocationsApi#get_system_menu_entries_by_parent_id_locations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of MenuEntryLocation
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_system_menu_entries_by_parent_id_locations_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_menu_entries_by_parent_id_locations_count_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get Count of MenuEntryLocation
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_system_menu_entries_by_parent_id_locations_count_with_http_info(parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_count ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_count" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/menuEntries/{parentId}/locations/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MenuEntryLocationsApi.get_system_menu_entries_by_parent_id_locations_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MenuEntryLocationsApi#get_system_menu_entries_by_parent_id_locations_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post MenuEntryLocation
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param menu_entry_location [MenuEntryLocation] menuEntryLocation
    # @param [Hash] opts the optional parameters
    # @return [MenuEntryLocation]
    def post_system_menu_entries_by_parent_id_locations(parent_id, client_id, menu_entry_location, opts = {})
      data, _status_code, _headers = post_system_menu_entries_by_parent_id_locations_with_http_info(parent_id, client_id, menu_entry_location, opts)
      data
    end

    # Post MenuEntryLocation
    # @param parent_id [Integer] menuEntryId
    # @param client_id [String]
    # @param menu_entry_location [MenuEntryLocation] menuEntryLocation
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuEntryLocation, Integer, Hash)>] MenuEntryLocation data, response status code and response headers
    def post_system_menu_entries_by_parent_id_locations_with_http_info(parent_id, client_id, menu_entry_location, opts = {})
      @api_client.config.logger.debug 'Calling API: MenuEntryLocationsApi.post_system_menu_entries_by_parent_id_locations ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling MenuEntryLocationsApi.post_system_menu_entries_by_parent_id_locations" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling MenuEntryLocationsApi.post_system_menu_entries_by_parent_id_locations" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'menu_entry_location' is set
      raise ArgumentError, "Missing the required parameter 'menu_entry_location' when calling MenuEntryLocationsApi.post_system_menu_entries_by_parent_id_locations" if @api_client.config.client_side_validation && menu_entry_location.nil?

      # resource path
      local_var_path = '/system/menuEntries/{parentId}/locations'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(menu_entry_location)

      # return_type
      return_type = opts[:debug_return_type] || 'MenuEntryLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'MenuEntryLocationsApi.post_system_menu_entries_by_parent_id_locations',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: MenuEntryLocationsApi#post_system_menu_entries_by_parent_id_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
