# #Connectwise Manage All Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2022.1
#
# Generated by: https://openapi-generator.tech
# OpenAPI Generator version: 6.2.1
#

require 'cgi'

module ConnectWise
  class Office365EmailSetupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_system_office365_email_setups_by_id(id, client_id, opts = {})
      delete_system_office365_email_setups_by_id_with_http_info(id, client_id, opts)
      nil
    end

    # Delete Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_system_office365_email_setups_by_id_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.delete_system_office365_email_setups_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling Office365EmailSetupsApi.delete_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.delete_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.delete_system_office365_email_setups_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#delete_system_office365_email_setups_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of Office365EmailSetup
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<Office365EmailSetup>]
    def get_system_office365_email_setups(client_id, opts = {})
      data, _status_code, _headers = get_system_office365_email_setups_with_http_info(client_id, opts)
      data
    end

    # Get List of Office365EmailSetup
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<Office365EmailSetup>, Integer, Hash)>] Array<Office365EmailSetup> data, response status code and response headers
    def get_system_office365_email_setups_with_http_info(client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.get_system_office365_email_setups ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.get_system_office365_email_setups" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Office365EmailSetup>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.get_system_office365_email_setups',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#get_system_office365_email_setups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Office365EmailSetup]
    def get_system_office365_email_setups_by_id(id, client_id, opts = {})
      data, _status_code, _headers = get_system_office365_email_setups_by_id_with_http_info(id, client_id, opts)
      data
    end

    # Get Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Office365EmailSetup, Integer, Hash)>] Office365EmailSetup data, response status code and response headers
    def get_system_office365_email_setups_by_id_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.get_system_office365_email_setups_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling Office365EmailSetupsApi.get_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.get_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Office365EmailSetup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.get_system_office365_email_setups_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#get_system_office365_email_setups_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of Office365EmailSetup
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_system_office365_email_setups_count(client_id, opts = {})
      data, _status_code, _headers = get_system_office365_email_setups_count_with_http_info(client_id, opts)
      data
    end

    # Get Count of Office365EmailSetup
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_system_office365_email_setups_count_with_http_info(client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.get_system_office365_email_setups_count ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.get_system_office365_email_setups_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.get_system_office365_email_setups_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#get_system_office365_email_setups_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Office365EmailSetup]
    def patch_system_office365_email_setups_by_id(id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_system_office365_email_setups_by_id_with_http_info(id, client_id, patch_operation, opts)
      data
    end

    # Patch Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(Office365EmailSetup, Integer, Hash)>] Office365EmailSetup data, response status code and response headers
    def patch_system_office365_email_setups_by_id_with_http_info(id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.patch_system_office365_email_setups_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling Office365EmailSetupsApi.patch_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.patch_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling Office365EmailSetupsApi.patch_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'Office365EmailSetup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.patch_system_office365_email_setups_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#patch_system_office365_email_setups_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post Office365EmailSetup
    # @param client_id [String]
    # @param office365_email_setup [Office365EmailSetup] entity
    # @param [Hash] opts the optional parameters
    # @return [Office365EmailSetup]
    def post_system_office365_email_setups(client_id, office365_email_setup, opts = {})
      data, _status_code, _headers = post_system_office365_email_setups_with_http_info(client_id, office365_email_setup, opts)
      data
    end

    # Post Office365EmailSetup
    # @param client_id [String]
    # @param office365_email_setup [Office365EmailSetup] entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(Office365EmailSetup, Integer, Hash)>] Office365EmailSetup data, response status code and response headers
    def post_system_office365_email_setups_with_http_info(client_id, office365_email_setup, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.post_system_office365_email_setups ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.post_system_office365_email_setups" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'office365_email_setup' is set
      raise ArgumentError, "Missing the required parameter 'office365_email_setup' when calling Office365EmailSetupsApi.post_system_office365_email_setups" if @api_client.config.client_side_validation && office365_email_setup.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(office365_email_setup)

      # return_type
      return_type = opts[:debug_return_type] || 'Office365EmailSetup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.post_system_office365_email_setups',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#post_system_office365_email_setups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post SuccessResponse
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def post_system_office365_email_setups_by_id_authorize(id, client_id, opts = {})
      data, _status_code, _headers = post_system_office365_email_setups_by_id_authorize_with_http_info(id, client_id, opts)
      data
    end

    # Post SuccessResponse
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def post_system_office365_email_setups_by_id_authorize_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.post_system_office365_email_setups_by_id_authorize ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling Office365EmailSetupsApi.post_system_office365_email_setups_by_id_authorize" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.post_system_office365_email_setups_by_id_authorize" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/{id}/authorize'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.post_system_office365_email_setups_by_id_authorize',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#post_system_office365_email_setups_by_id_authorize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post SuccessResponse
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def post_system_office365_email_setups_by_id_test_connection(id, client_id, opts = {})
      data, _status_code, _headers = post_system_office365_email_setups_by_id_test_connection_with_http_info(id, client_id, opts)
      data
    end

    # Post SuccessResponse
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def post_system_office365_email_setups_by_id_test_connection_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.post_system_office365_email_setups_by_id_test_connection ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling Office365EmailSetupsApi.post_system_office365_email_setups_by_id_test_connection" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.post_system_office365_email_setups_by_id_test_connection" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/{id}/testConnection'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.post_system_office365_email_setups_by_id_test_connection',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#post_system_office365_email_setups_by_id_test_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param office365_email_setup [Office365EmailSetup] entity
    # @param [Hash] opts the optional parameters
    # @return [Office365EmailSetup]
    def put_system_office365_email_setups_by_id(id, client_id, office365_email_setup, opts = {})
      data, _status_code, _headers = put_system_office365_email_setups_by_id_with_http_info(id, client_id, office365_email_setup, opts)
      data
    end

    # Put Office365EmailSetup
    # @param id [Integer] emailSetupId
    # @param client_id [String]
    # @param office365_email_setup [Office365EmailSetup] entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(Office365EmailSetup, Integer, Hash)>] Office365EmailSetup data, response status code and response headers
    def put_system_office365_email_setups_by_id_with_http_info(id, client_id, office365_email_setup, opts = {})
      @api_client.config.logger.debug 'Calling API: Office365EmailSetupsApi.put_system_office365_email_setups_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling Office365EmailSetupsApi.put_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling Office365EmailSetupsApi.put_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'office365_email_setup' is set
      raise ArgumentError, "Missing the required parameter 'office365_email_setup' when calling Office365EmailSetupsApi.put_system_office365_email_setups_by_id" if @api_client.config.client_side_validation && office365_email_setup.nil?

      # resource path
      local_var_path = '/system/office365/emailSetups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(office365_email_setup)

      # return_type
      return_type = opts[:debug_return_type] || 'Office365EmailSetup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'Office365EmailSetupsApi.put_system_office365_email_setups_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: Office365EmailSetupsApi#put_system_office365_email_setups_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
