# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class OpportunityNotesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sales_opportunities_by_parent_id_notes_by_id(id, parent_id, client_id, opts = {})
      delete_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, opts)
      nil
    end

    # Delete OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.delete_sales_opportunities_by_parent_id_notes_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling OpportunityNotesApi.delete_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.delete_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.delete_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.delete_sales_opportunities_by_parent_id_notes_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#delete_sales_opportunities_by_parent_id_notes_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of OpportunityNote
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<OpportunityNote>]
    def get_sales_opportunities_by_parent_id_notes(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_sales_opportunities_by_parent_id_notes_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get List of OpportunityNote
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<OpportunityNote>, Integer, Hash)>] Array<OpportunityNote> data, response status code and response headers
    def get_sales_opportunities_by_parent_id_notes_with_http_info(parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OpportunityNote>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#get_sales_opportunities_by_parent_id_notes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [OpportunityNote]
    def get_sales_opportunities_by_parent_id_notes_by_id(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, opts)
      data
    end

    # Get OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(OpportunityNote, Integer, Hash)>] OpportunityNote data, response status code and response headers
    def get_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OpportunityNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#get_sales_opportunities_by_parent_id_notes_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of OpportunityNote
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<OpportunityNote>]
    def get_sales_opportunities_by_parent_id_notes_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_sales_opportunities_by_parent_id_notes_count_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get List of OpportunityNote
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<OpportunityNote>, Integer, Hash)>] Array<OpportunityNote> data, response status code and response headers
    def get_sales_opportunities_by_parent_id_notes_count_with_http_info(parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_count ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_count" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OpportunityNote>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.get_sales_opportunities_by_parent_id_notes_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#get_sales_opportunities_by_parent_id_notes_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [OpportunityNote]
    def patch_sales_opportunities_by_parent_id_notes_by_id(id, parent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, patch_operation, opts)
      data
    end

    # Patch OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpportunityNote, Integer, Hash)>] OpportunityNote data, response status code and response headers
    def patch_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.patch_sales_opportunities_by_parent_id_notes_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling OpportunityNotesApi.patch_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.patch_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.patch_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling OpportunityNotesApi.patch_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'OpportunityNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.patch_sales_opportunities_by_parent_id_notes_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#patch_sales_opportunities_by_parent_id_notes_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post OpportunityNote
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param opportunity_note [OpportunityNote] note
    # @param [Hash] opts the optional parameters
    # @return [OpportunityNote]
    def post_sales_opportunities_by_parent_id_notes(parent_id, client_id, opportunity_note, opts = {})
      data, _status_code, _headers = post_sales_opportunities_by_parent_id_notes_with_http_info(parent_id, client_id, opportunity_note, opts)
      data
    end

    # Post OpportunityNote
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param opportunity_note [OpportunityNote] note
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpportunityNote, Integer, Hash)>] OpportunityNote data, response status code and response headers
    def post_sales_opportunities_by_parent_id_notes_with_http_info(parent_id, client_id, opportunity_note, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.post_sales_opportunities_by_parent_id_notes ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.post_sales_opportunities_by_parent_id_notes" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.post_sales_opportunities_by_parent_id_notes" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'opportunity_note' is set
      raise ArgumentError, "Missing the required parameter 'opportunity_note' when calling OpportunityNotesApi.post_sales_opportunities_by_parent_id_notes" if @api_client.config.client_side_validation && opportunity_note.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opportunity_note)

      # return_type
      return_type = opts[:debug_return_type] || 'OpportunityNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.post_sales_opportunities_by_parent_id_notes',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#post_sales_opportunities_by_parent_id_notes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param opportunity_note [OpportunityNote] note
    # @param [Hash] opts the optional parameters
    # @return [OpportunityNote]
    def put_sales_opportunities_by_parent_id_notes_by_id(id, parent_id, client_id, opportunity_note, opts = {})
      data, _status_code, _headers = put_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, opportunity_note, opts)
      data
    end

    # Put OpportunityNote
    # @param id [Integer] noteId
    # @param parent_id [Integer] opportunityId
    # @param client_id [String]
    # @param opportunity_note [OpportunityNote] note
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpportunityNote, Integer, Hash)>] OpportunityNote data, response status code and response headers
    def put_sales_opportunities_by_parent_id_notes_by_id_with_http_info(id, parent_id, client_id, opportunity_note, opts = {})
      @api_client.config.logger.debug 'Calling API: OpportunityNotesApi.put_sales_opportunities_by_parent_id_notes_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling OpportunityNotesApi.put_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling OpportunityNotesApi.put_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling OpportunityNotesApi.put_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'opportunity_note' is set
      raise ArgumentError, "Missing the required parameter 'opportunity_note' when calling OpportunityNotesApi.put_sales_opportunities_by_parent_id_notes_by_id" if @api_client.config.client_side_validation && opportunity_note.nil?

      # resource path
      local_var_path = '/sales/opportunities/{parentId}/notes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opportunity_note)

      # return_type
      return_type = opts[:debug_return_type] || 'OpportunityNote'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'OpportunityNotesApi.put_sales_opportunities_by_parent_id_notes_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: OpportunityNotesApi#put_sales_opportunities_by_parent_id_notes_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
