=begin
#Connectwise Manage All Endpoints

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2022.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module ConnectWise
  class PricingBreaksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      nil
    end

    # Delete PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingBreaksApi.delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#delete_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get List of PricingBreak
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<PricingBreak>]
    def get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get List of PricingBreak
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(Array<PricingBreak>, Integer, Hash)>] Array<PricingBreak> data, response status code and response headers
    def get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PricingBreak>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [PricingBreak]
    def get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(PricingBreak, Integer, Hash)>] PricingBreak data, response status code and response headers
    def get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PricingBreak'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Count of PricingBreak
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Count]
    def get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get Count of PricingBreak
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#get_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [PricingBreak]
    def patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts)
      data
    end

    # Patch PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(PricingBreak, Integer, Hash)>] PricingBreak data, response status code and response headers
    def patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'patch_operation' is set
      if @api_client.config.client_side_validation && patch_operation.nil?
        fail ArgumentError, "Missing the required parameter 'patch_operation' when calling PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'PricingBreak'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#patch_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post PricingBreak
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param pricing_break [PricingBreak] pricingBreak
    # @param [Hash] opts the optional parameters
    # @return [PricingBreak]
    def post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks(parent_id, grandparent_id, client_id, pricing_break, opts = {})
      data, _status_code, _headers = post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_with_http_info(parent_id, grandparent_id, client_id, pricing_break, opts)
      data
    end

    # Post PricingBreak
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param pricing_break [PricingBreak] pricingBreak
    # @param [Hash] opts the optional parameters
    # @return [Array<(PricingBreak, Integer, Hash)>] PricingBreak data, response status code and response headers
    def post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_with_http_info(parent_id, grandparent_id, client_id, pricing_break, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # verify the required parameter 'pricing_break' is set
      if @api_client.config.client_side_validation && pricing_break.nil?
        fail ArgumentError, "Missing the required parameter 'pricing_break' when calling PricingBreaksApi.post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pricing_break)

      # return_type
      return_type = opts[:debug_return_type] || 'PricingBreak'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#post_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Put PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param pricing_break [PricingBreak] pricingBreak
    # @param [Hash] opts the optional parameters
    # @return [PricingBreak]
    def put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id(id, parent_id, grandparent_id, client_id, pricing_break, opts = {})
      data, _status_code, _headers = put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, pricing_break, opts)
      data
    end

    # Put PricingBreak
    # @param id [Integer] breakId
    # @param parent_id [Integer] detailId
    # @param grandparent_id [Integer] pricingscheduleId
    # @param client_id [String] 
    # @param pricing_break [PricingBreak] pricingBreak
    # @param [Hash] opts the optional parameters
    # @return [Array<(PricingBreak, Integer, Hash)>] PricingBreak data, response status code and response headers
    def put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id_with_http_info(id, parent_id, grandparent_id, client_id, pricing_break, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # verify the required parameter 'pricing_break' is set
      if @api_client.config.client_side_validation && pricing_break.nil?
        fail ArgumentError, "Missing the required parameter 'pricing_break' when calling PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id"
      end
      # resource path
      local_var_path = '/procurement/pricingschedules/{grandparentId}/details/{parentId}/breaks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pricing_break)

      # return_type
      return_type = opts[:debug_return_type] || 'PricingBreak'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingBreaksApi.put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingBreaksApi#put_procurement_pricingschedules_by_grandparent_id_details_by_parent_id_breaks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
