# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class ProjectTemplateTasksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id(id, grand_parent_id, parent_id, client_id, opts = {})
      delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, opts)
      nil
    end

    # Delete ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ProjectTemplateTasksApi.delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#delete_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of ProjectTemplateTasks
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<ProjectTemplateTask>]
    def get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks(grand_parent_id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_with_http_info(grand_parent_id, parent_id, client_id, opts)
      data
    end

    # Get List of ProjectTemplateTasks
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<ProjectTemplateTask>, Integer, Hash)>] Array<ProjectTemplateTask> data, response status code and response headers
    def get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_with_http_info(grand_parent_id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks ...' if @api_client.config.debugging
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks'.sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectTemplateTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [ProjectTemplateTask]
    def get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id(id, grand_parent_id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, opts)
      data
    end

    # Get ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(ProjectTemplateTask, Integer, Hash)>] ProjectTemplateTask data, response status code and response headers
    def get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTemplateTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of ProjectTemplateTasks
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count(grand_parent_id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count_with_http_info(grand_parent_id, parent_id, client_id, opts)
      data
    end

    # Get Count of ProjectTemplateTasks
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count_with_http_info(grand_parent_id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count ...' if @api_client.config.debugging
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks/count'.sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#get_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of ProjectTemplateTasks
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<ProjectTemplateTask>]
    def get_project_project_templates_project_template_tickets_tasks(client_id, opts = {})
      data, _status_code, _headers = get_project_project_templates_project_template_tickets_tasks_with_http_info(client_id, opts)
      data
    end

    # Get List of ProjectTemplateTasks
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<ProjectTemplateTask>, Integer, Hash)>] Array<ProjectTemplateTask> data, response status code and response headers
    def get_project_project_templates_project_template_tickets_tasks_with_http_info(client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.get_project_project_templates_project_template_tickets_tasks ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.get_project_project_templates_project_template_tickets_tasks" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/project/projectTemplates/projectTemplateTickets/tasks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectTemplateTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.get_project_project_templates_project_template_tickets_tasks',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#get_project_project_templates_project_template_tickets_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [ProjectTemplateTask]
    def patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id(id, grand_parent_id, parent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, patch_operation, opts)
      data
    end

    # Patch ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectTemplateTask, Integer, Hash)>] ProjectTemplateTask data, response status code and response headers
    def patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTemplateTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#patch_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post ProjectTemplateTasks
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param project_template_task [ProjectTemplateTask] ProjectTemplateTask
    # @param [Hash] opts the optional parameters
    # @return [ProjectTemplateTask]
    def post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks(grand_parent_id, parent_id, client_id, project_template_task, opts = {})
      data, _status_code, _headers = post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_with_http_info(grand_parent_id, parent_id, client_id, project_template_task, opts)
      data
    end

    # Post ProjectTemplateTasks
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param project_template_task [ProjectTemplateTask] ProjectTemplateTask
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectTemplateTask, Integer, Hash)>] ProjectTemplateTask data, response status code and response headers
    def post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_with_http_info(grand_parent_id, parent_id, client_id, project_template_task, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks ...' if @api_client.config.debugging
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'project_template_task' is set
      raise ArgumentError, "Missing the required parameter 'project_template_task' when calling ProjectTemplateTasksApi.post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks" if @api_client.config.client_side_validation && project_template_task.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks'.sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_template_task)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTemplateTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#post_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param project_template_task [ProjectTemplateTask] companyTypeAssociation
    # @param [Hash] opts the optional parameters
    # @return [ProjectTemplateTask]
    def put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id(id, grand_parent_id, parent_id, client_id, project_template_task, opts = {})
      data, _status_code, _headers = put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, project_template_task, opts)
      data
    end

    # Put ProjectTemplateTasks
    # @param id [Integer] ProjectTemplateTaskId
    # @param grand_parent_id [Integer] ProjectTemplateId
    # @param parent_id [Integer] ProjectTemplateTicketId
    # @param client_id [String]
    # @param project_template_task [ProjectTemplateTask] companyTypeAssociation
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectTemplateTask, Integer, Hash)>] ProjectTemplateTask data, response status code and response headers
    def put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id_with_http_info(id, grand_parent_id, parent_id, client_id, project_template_task, opts = {})
      @api_client.config.logger.debug 'Calling API: ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'grand_parent_id' is set
      raise ArgumentError, "Missing the required parameter 'grand_parent_id' when calling ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && grand_parent_id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'project_template_task' is set
      raise ArgumentError, "Missing the required parameter 'project_template_task' when calling ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id" if @api_client.config.client_side_validation && project_template_task.nil?

      # resource path
      local_var_path = '/project/projectTemplates/{grandParentId}/projectTemplateTickets/{parentId}/tasks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'grandParentId' + '}', CGI.escape(grand_parent_id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_template_task)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTemplateTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'ProjectTemplateTasksApi.put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: ProjectTemplateTasksApi#put_project_project_templates_by_grand_parent_id_project_template_tickets_by_parent_id_tasks_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
