=begin
#Connectwise Manage All Endpoints

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2022.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module ConnectWise
  class ProjectBoardTeamMembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      nil
    end

    # Delete ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectBoardTeamMembersApi.delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectBoardTeamMembersApi.delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectBoardTeamMembersApi.delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling ProjectBoardTeamMembersApi.delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ProjectBoardTeamMembersApi.delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # resource path
      local_var_path = '/project/boards/{grandparentId}/teams/{parentId}/members/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectBoardTeamMembersApi.delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectBoardTeamMembersApi#delete_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get List of ProjectBoardTeamMember
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<ProjectBoardTeamMember>]
    def get_project_boards_by_grandparent_id_teams_by_parent_id_members(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_project_boards_by_grandparent_id_teams_by_parent_id_members_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get List of ProjectBoardTeamMember
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(Array<ProjectBoardTeamMember>, Integer, Hash)>] Array<ProjectBoardTeamMember> data, response status code and response headers
    def get_project_boards_by_grandparent_id_teams_by_parent_id_members_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # resource path
      local_var_path = '/project/boards/{grandparentId}/teams/{parentId}/members'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectBoardTeamMember>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectBoardTeamMembersApi#get_project_boards_by_grandparent_id_teams_by_parent_id_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [ProjectBoardTeamMember]
    def get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :child_conditions 
    # @option opts [String] :custom_field_conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :fields 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [Integer] :page_id 
    # @return [Array<(ProjectBoardTeamMember, Integer, Hash)>] ProjectBoardTeamMember data, response status code and response headers
    def get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # resource path
      local_var_path = '/project/boards/{grandparentId}/teams/{parentId}/members/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'childConditions'] = opts[:'child_conditions'] if !opts[:'child_conditions'].nil?
      query_params[:'customFieldConditions'] = opts[:'custom_field_conditions'] if !opts[:'custom_field_conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageId'] = opts[:'page_id'] if !opts[:'page_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectBoardTeamMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectBoardTeamMembersApi.get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectBoardTeamMembersApi#get_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [ProjectBoardTeamMember]
    def patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts)
      data
    end

    # Patch ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectBoardTeamMember, Integer, Hash)>] ProjectBoardTeamMember data, response status code and response headers
    def patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'patch_operation' is set
      if @api_client.config.client_side_validation && patch_operation.nil?
        fail ArgumentError, "Missing the required parameter 'patch_operation' when calling ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # resource path
      local_var_path = '/project/boards/{grandparentId}/teams/{parentId}/members/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectBoardTeamMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectBoardTeamMembersApi.patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectBoardTeamMembersApi#patch_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post ProjectBoardTeamMember
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param project_board_team_member [ProjectBoardTeamMember] teamMember
    # @param [Hash] opts the optional parameters
    # @return [ProjectBoardTeamMember]
    def post_project_boards_by_grandparent_id_teams_by_parent_id_members(parent_id, grandparent_id, client_id, project_board_team_member, opts = {})
      data, _status_code, _headers = post_project_boards_by_grandparent_id_teams_by_parent_id_members_with_http_info(parent_id, grandparent_id, client_id, project_board_team_member, opts)
      data
    end

    # Post ProjectBoardTeamMember
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param project_board_team_member [ProjectBoardTeamMember] teamMember
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectBoardTeamMember, Integer, Hash)>] ProjectBoardTeamMember data, response status code and response headers
    def post_project_boards_by_grandparent_id_teams_by_parent_id_members_with_http_info(parent_id, grandparent_id, client_id, project_board_team_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectBoardTeamMembersApi.post_project_boards_by_grandparent_id_teams_by_parent_id_members ...'
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectBoardTeamMembersApi.post_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling ProjectBoardTeamMembersApi.post_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ProjectBoardTeamMembersApi.post_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # verify the required parameter 'project_board_team_member' is set
      if @api_client.config.client_side_validation && project_board_team_member.nil?
        fail ArgumentError, "Missing the required parameter 'project_board_team_member' when calling ProjectBoardTeamMembersApi.post_project_boards_by_grandparent_id_teams_by_parent_id_members"
      end
      # resource path
      local_var_path = '/project/boards/{grandparentId}/teams/{parentId}/members'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_board_team_member)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectBoardTeamMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectBoardTeamMembersApi.post_project_boards_by_grandparent_id_teams_by_parent_id_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectBoardTeamMembersApi#post_project_boards_by_grandparent_id_teams_by_parent_id_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Put ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param project_board_team_member [ProjectBoardTeamMember] teamMember
    # @param [Hash] opts the optional parameters
    # @return [ProjectBoardTeamMember]
    def put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id(id, parent_id, grandparent_id, client_id, project_board_team_member, opts = {})
      data, _status_code, _headers = put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, project_board_team_member, opts)
      data
    end

    # Put ProjectBoardTeamMember
    # @param id [Integer] memberId
    # @param parent_id [Integer] teamId
    # @param grandparent_id [Integer] boardId
    # @param client_id [String] 
    # @param project_board_team_member [ProjectBoardTeamMember] teamMember
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectBoardTeamMember, Integer, Hash)>] ProjectBoardTeamMember data, response status code and response headers
    def put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id_with_http_info(id, parent_id, grandparent_id, client_id, project_board_team_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'grandparent_id' is set
      if @api_client.config.client_side_validation && grandparent_id.nil?
        fail ArgumentError, "Missing the required parameter 'grandparent_id' when calling ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # verify the required parameter 'project_board_team_member' is set
      if @api_client.config.client_side_validation && project_board_team_member.nil?
        fail ArgumentError, "Missing the required parameter 'project_board_team_member' when calling ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id"
      end
      # resource path
      local_var_path = '/project/boards/{grandparentId}/teams/{parentId}/members/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2022.1'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'clientId'] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_board_team_member)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectBoardTeamMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectBoardTeamMembersApi.put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectBoardTeamMembersApi#put_project_boards_by_grandparent_id_teams_by_parent_id_members_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
