# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class TaxableProductTypeLevelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      nil
    end

    # Delete TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling TaxableProductTypeLevelsApi.delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#delete_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of TaxableProductTypeLevel
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<TaxableProductTypeLevel>]
    def get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get List of TaxableProductTypeLevel
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<TaxableProductTypeLevel>, Integer, Hash)>] Array<TaxableProductTypeLevel> data, response status code and response headers
    def get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TaxableProductTypeLevel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [TaxableProductTypeLevel]
    def get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id(id, parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(TaxableProductTypeLevel, Integer, Hash)>] TaxableProductTypeLevel data, response status code and response headers
    def get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxableProductTypeLevel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of TaxableProductTypeLevel
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count(parent_id, grandparent_id, client_id, opts = {})
      data, _status_code, _headers = get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count_with_http_info(parent_id, grandparent_id, client_id, opts)
      data
    end

    # Get Count of TaxableProductTypeLevel
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count_with_http_info(parent_id, grandparent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#get_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [TaxableProductTypeLevel]
    def patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts)
      data
    end

    # Patch TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxableProductTypeLevel, Integer, Hash)>] TaxableProductTypeLevel data, response status code and response headers
    def patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxableProductTypeLevel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#patch_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post TaxableProductTypeLevel
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param taxable_product_type_level [TaxableProductTypeLevel] taxableProductTypeLevel
    # @param [Hash] opts the optional parameters
    # @return [TaxableProductTypeLevel]
    def post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels(parent_id, grandparent_id, client_id, taxable_product_type_level, opts = {})
      data, _status_code, _headers = post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_with_http_info(parent_id, grandparent_id, client_id, taxable_product_type_level, opts)
      data
    end

    # Post TaxableProductTypeLevel
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param taxable_product_type_level [TaxableProductTypeLevel] taxableProductTypeLevel
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxableProductTypeLevel, Integer, Hash)>] TaxableProductTypeLevel data, response status code and response headers
    def post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_with_http_info(parent_id, grandparent_id, client_id, taxable_product_type_level, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'taxable_product_type_level' is set
      raise ArgumentError, "Missing the required parameter 'taxable_product_type_level' when calling TaxableProductTypeLevelsApi.post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels" if @api_client.config.client_side_validation && taxable_product_type_level.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxable_product_type_level)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxableProductTypeLevel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#post_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param taxable_product_type_level [TaxableProductTypeLevel] taxableProductTypeLevel
    # @param [Hash] opts the optional parameters
    # @return [TaxableProductTypeLevel]
    def put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id(id, parent_id, grandparent_id, client_id, taxable_product_type_level, opts = {})
      data, _status_code, _headers = put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, taxable_product_type_level, opts)
      data
    end

    # Put TaxableProductTypeLevel
    # @param id [Integer] taxableProductTypeLevelId
    # @param parent_id [Integer] productTypeExemptionId
    # @param grandparent_id [Integer] taxCodeId
    # @param client_id [String]
    # @param taxable_product_type_level [TaxableProductTypeLevel] taxableProductTypeLevel
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxableProductTypeLevel, Integer, Hash)>] TaxableProductTypeLevel data, response status code and response headers
    def put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id_with_http_info(id, parent_id, grandparent_id, client_id, taxable_product_type_level, opts = {})
      @api_client.config.logger.debug 'Calling API: TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'grandparent_id' is set
      raise ArgumentError, "Missing the required parameter 'grandparent_id' when calling TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && grandparent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'taxable_product_type_level' is set
      raise ArgumentError, "Missing the required parameter 'taxable_product_type_level' when calling TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id" if @api_client.config.client_side_validation && taxable_product_type_level.nil?

      # resource path
      local_var_path = '/finance/taxCodes/{grandparentId}/productTypeExemptions/{parentId}/taxableProductTypeLevels/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s)).sub('{' + 'grandparentId' + '}', CGI.escape(grandparent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(taxable_product_type_level)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxableProductTypeLevel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'TaxableProductTypeLevelsApi.put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: TaxableProductTypeLevelsApi#put_finance_tax_codes_by_grandparent_id_product_type_exemptions_by_parent_id_taxable_product_type_levels_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
