# #Connectwise Manage Public Endpoints
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2025.1
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.12.0
#

require 'cgi'

module ConnectWise
  class WorkflowEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_system_workflows_by_parent_id_events_by_id(id, parent_id, client_id, opts = {})
      delete_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, opts)
      nil
    end

    # Delete WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.delete_system_workflows_by_parent_id_events_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.delete_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.delete_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.delete_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.delete_system_workflows_by_parent_id_events_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#delete_system_workflows_by_parent_id_events_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of WorkflowEvent
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<WorkflowEvent>]
    def get_system_workflows_by_parent_id_events(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_workflows_by_parent_id_events_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get List of WorkflowEvent
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<WorkflowEvent>, Integer, Hash)>] Array<WorkflowEvent> data, response status code and response headers
    def get_system_workflows_by_parent_id_events_with_http_info(parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.get_system_workflows_by_parent_id_events ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WorkflowEvent>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.get_system_workflows_by_parent_id_events',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#get_system_workflows_by_parent_id_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [WorkflowEvent]
    def get_system_workflows_by_parent_id_events_by_id(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, opts)
      data
    end

    # Get WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(WorkflowEvent, Integer, Hash)>] WorkflowEvent data, response status code and response headers
    def get_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#get_system_workflows_by_parent_id_events_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get workflow test results
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<Hash<String, Object>>]
    def get_system_workflows_by_parent_id_events_by_id_test(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_workflows_by_parent_id_events_by_id_test_with_http_info(id, parent_id, client_id, opts)
      data
    end

    # Get workflow test results
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<Hash<String, Object>>, Integer, Hash)>] Array<Hash<String, Object>> data, response status code and response headers
    def get_system_workflows_by_parent_id_events_by_id_test_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id_test ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id_test" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id_test" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id_test" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/{id}/test'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Hash<String, Object>>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.get_system_workflows_by_parent_id_events_by_id_test',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#get_system_workflows_by_parent_id_events_by_id_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get Count of WorkflowEvent
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Count]
    def get_system_workflows_by_parent_id_events_count(parent_id, client_id, opts = {})
      data, _status_code, _headers = get_system_workflows_by_parent_id_events_count_with_http_info(parent_id, client_id, opts)
      data
    end

    # Get Count of WorkflowEvent
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Count, Integer, Hash)>] Count data, response status code and response headers
    def get_system_workflows_by_parent_id_events_count_with_http_info(parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.get_system_workflows_by_parent_id_events_count ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_count" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.get_system_workflows_by_parent_id_events_count" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/count'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Count'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.get_system_workflows_by_parent_id_events_count',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#get_system_workflows_by_parent_id_events_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get List of WorkflowEvent
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<WorkflowEvent>]
    def get_system_workflows_events(client_id, opts = {})
      data, _status_code, _headers = get_system_workflows_events_with_http_info(client_id, opts)
      data
    end

    # Get List of WorkflowEvent
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(Array<WorkflowEvent>, Integer, Hash)>] Array<WorkflowEvent> data, response status code and response headers
    def get_system_workflows_events_with_http_info(client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.get_system_workflows_events ...' if @api_client.config.debugging
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.get_system_workflows_events" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WorkflowEvent>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.get_system_workflows_events',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#get_system_workflows_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Get WorkflowEvent
    # @param id [Integer] eventId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [WorkflowEvent]
    def get_system_workflows_events_by_id(id, client_id, opts = {})
      data, _status_code, _headers = get_system_workflows_events_by_id_with_http_info(id, client_id, opts)
      data
    end

    # Get WorkflowEvent
    # @param id [Integer] eventId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions
    # @option opts [String] :child_conditions
    # @option opts [String] :custom_field_conditions
    # @option opts [String] :order_by
    # @option opts [String] :fields
    # @option opts [Integer] :page
    # @option opts [Integer] :page_size
    # @option opts [Integer] :page_id
    # @return [Array<(WorkflowEvent, Integer, Hash)>] WorkflowEvent data, response status code and response headers
    def get_system_workflows_events_by_id_with_http_info(id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.get_system_workflows_events_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.get_system_workflows_events_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.get_system_workflows_events_by_id" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:conditions] = opts[:conditions] unless opts[:conditions].nil?
      query_params[:childConditions] = opts[:child_conditions] unless opts[:child_conditions].nil?
      query_params[:customFieldConditions] = opts[:custom_field_conditions] unless opts[:custom_field_conditions].nil?
      query_params[:orderBy] = opts[:order_by] unless opts[:order_by].nil?
      query_params[:fields] = opts[:fields] unless opts[:fields].nil?
      query_params[:page] = opts[:page] unless opts[:page].nil?
      query_params[:pageSize] = opts[:page_size] unless opts[:page_size].nil?
      query_params[:pageId] = opts[:page_id] unless opts[:page_id].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.get_system_workflows_events_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#get_system_workflows_events_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Patch WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [WorkflowEvent]
    def patch_system_workflows_by_parent_id_events_by_id(id, parent_id, client_id, patch_operation, opts = {})
      data, _status_code, _headers = patch_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, patch_operation, opts)
      data
    end

    # Patch WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param patch_operation [Array<PatchOperation>] List of PatchOperation
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowEvent, Integer, Hash)>] WorkflowEvent data, response status code and response headers
    def patch_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, patch_operation, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.patch_system_workflows_by_parent_id_events_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.patch_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.patch_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.patch_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'patch_operation' is set
      raise ArgumentError, "Missing the required parameter 'patch_operation' when calling WorkflowEventsApi.patch_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && patch_operation.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_operation)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.patch_system_workflows_by_parent_id_events_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#patch_system_workflows_by_parent_id_events_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post WorkflowEvent
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param workflow_event [WorkflowEvent] workflowEvent
    # @param [Hash] opts the optional parameters
    # @return [WorkflowEvent]
    def post_system_workflows_by_parent_id_events(parent_id, client_id, workflow_event, opts = {})
      data, _status_code, _headers = post_system_workflows_by_parent_id_events_with_http_info(parent_id, client_id, workflow_event, opts)
      data
    end

    # Post WorkflowEvent
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param workflow_event [WorkflowEvent] workflowEvent
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowEvent, Integer, Hash)>] WorkflowEvent data, response status code and response headers
    def post_system_workflows_by_parent_id_events_with_http_info(parent_id, client_id, workflow_event, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.post_system_workflows_by_parent_id_events ...' if @api_client.config.debugging
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.post_system_workflows_by_parent_id_events" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.post_system_workflows_by_parent_id_events" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'workflow_event' is set
      raise ArgumentError, "Missing the required parameter 'workflow_event' when calling WorkflowEventsApi.post_system_workflows_by_parent_id_events" if @api_client.config.client_side_validation && workflow_event.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events'.sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_event)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.post_system_workflows_by_parent_id_events',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#post_system_workflows_by_parent_id_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Post WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [WorkflowEvent]
    def post_system_workflows_by_parent_id_events_by_id_copy(id, parent_id, client_id, opts = {})
      data, _status_code, _headers = post_system_workflows_by_parent_id_events_by_id_copy_with_http_info(id, parent_id, client_id, opts)
      data
    end

    # Post WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowEvent, Integer, Hash)>] WorkflowEvent data, response status code and response headers
    def post_system_workflows_by_parent_id_events_by_id_copy_with_http_info(id, parent_id, client_id, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.post_system_workflows_by_parent_id_events_by_id_copy ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.post_system_workflows_by_parent_id_events_by_id_copy" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.post_system_workflows_by_parent_id_events_by_id_copy" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.post_system_workflows_by_parent_id_events_by_id_copy" if @api_client.config.client_side_validation && client_id.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/{id}/copy'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.post_system_workflows_by_parent_id_events_by_id_copy',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#post_system_workflows_by_parent_id_events_by_id_copy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end

    # Put WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param workflow_event [WorkflowEvent] workflowEvent
    # @param [Hash] opts the optional parameters
    # @return [WorkflowEvent]
    def put_system_workflows_by_parent_id_events_by_id(id, parent_id, client_id, workflow_event, opts = {})
      data, _status_code, _headers = put_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, workflow_event, opts)
      data
    end

    # Put WorkflowEvent
    # @param id [Integer] eventId
    # @param parent_id [Integer] workflowId
    # @param client_id [String]
    # @param workflow_event [WorkflowEvent] workflowEvent
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowEvent, Integer, Hash)>] WorkflowEvent data, response status code and response headers
    def put_system_workflows_by_parent_id_events_by_id_with_http_info(id, parent_id, client_id, workflow_event, opts = {})
      @api_client.config.logger.debug 'Calling API: WorkflowEventsApi.put_system_workflows_by_parent_id_events_by_id ...' if @api_client.config.debugging
      # verify the required parameter 'id' is set
      raise ArgumentError, "Missing the required parameter 'id' when calling WorkflowEventsApi.put_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && id.nil?
      # verify the required parameter 'parent_id' is set
      raise ArgumentError, "Missing the required parameter 'parent_id' when calling WorkflowEventsApi.put_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && parent_id.nil?
      # verify the required parameter 'client_id' is set
      raise ArgumentError, "Missing the required parameter 'client_id' when calling WorkflowEventsApi.put_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && client_id.nil?
      # verify the required parameter 'workflow_event' is set
      raise ArgumentError, "Missing the required parameter 'workflow_event' when calling WorkflowEventsApi.put_system_workflows_by_parent_id_events_by_id" if @api_client.config.client_side_validation && workflow_event.nil?

      # resource path
      local_var_path = '/system/workflows/{parentId}/events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'parentId' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.connectwise.com+json; version=2025.1']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?
      header_params[:clientId] = client_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflow_event)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        operation: :'WorkflowEventsApi.put_system_workflows_by_parent_id_events_by_id',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      @api_client.config.logger.debug "API called: WorkflowEventsApi#put_system_workflows_by_parent_id_events_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}" if @api_client.config.debugging
      [data, status_code, headers]
    end
  end
end
